# Database Credentials Template
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/kitchen-inventory
PORT=3005

# Little Farms Credentials (For manual bootstrap login only)
LITTLEFARMS_EMAIL=your_email@example.com
LITTLEFARMS_PASSWORD=your_password
LITTLEFARMS_MEMBERSHIP_ID=your_membership_id

# FairPrice Credentials (For manual bootstrap login only)
FAIRPRICE_EMAIL=your_email@example.com
FAIRPRICE_PASSWORD=your_password

# RedMart Credentials (For manual bootstrap login only)
REDMART_EMAIL=your_email@example.com
REDMART_PASSWORD=your_password
