# Database Credentials
MONGODB_URI=mongodb+srv://yasirunipunbasnayake2_db_user:hFIS1XVxBmbaC5Ro@techtitans0.c5azljc.mongodb.net/kitchen-inventory
PORT=3005

# Little Farms Credentials
LITTLEFARMS_EMAIL=your_email@example.com
LITTLEFARMS_PASSWORD=your_password
LITTLEFARMS_MEMBERSHIP_ID=90727915

# FairPrice Credentials (Upcoming)
FAIRPRICE_EMAIL=your_email@example.com
FAIRPRICE_PASSWORD=your_password

# RedMart Credentials (Upcoming)
REDMART_EMAIL=your_email@example.com
REDMART_PASSWORD=your_password
